:root {
    --clr-text: #ccc;
    --clr-text-hover: #eee;
    --clr-border: #333;
    --clr-border-active: #8f8f8f;
    --clr-border-hover: #ccc;
    --clr-border-disabled: #747474;
}

.light-theme {
    color-scheme: light light;
    --clr-text: #333;
    --clr-text-hover: #535353;
}

body {
    position: relative;
}

.theme-btn {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-20px, 20px);
    background-color: transparent;
    border: none;
    outline: none;

    cursor: pointer;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
}

.board-title {
    font-size: 2rem;
    color: var(--clr-text);
}

.board-grid {
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    gap: 0.125rem;
}

.board-cell {
    background-color: transparent;

    width: 50px;
    height: 50px;
    border: 3px solid var(--clr-border);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding: 2rem;

    cursor: pointer;
    transition: all 200ms ease;
}

.board-cell:hover {
    border-color: var(--clr-border-hover);
}

.board-cell:disabled {
    pointer-events: none;
}

.cell-text {
    transition: all 200ms ease;
}

.restart-btn {
    background-color: transparent;
    border: none;
    color: var(--clr-text);
    cursor: pointer;
    font-size: 1.25rem;
}

.restart-btn:hover {
    color: var(--clr-text-hover);
}

.difficulty-container {
    display: flex;
    gap: 10px;
}

.difficulty-btn {
    padding: 5px 10px;
    background-color: transparent;
    border: 2px solid var(--clr-border);
    border-radius: 7px;
    cursor: pointer;

    transition: all 200ms ease;
}

.difficulty-btn-active {
    border-color: var(--clr-border-active);
}

.difficulty-btn:hover {
    border-color: var(--clr-border-hover);
}
